{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
        // "@babel/preset-stage-0" // babel 7.0以上版本废弃stage preset
    ]
    // "plugins": ["syntax-dynamic-import"] 动态import
}
