.toast {
    position: fixed;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    border-radius: 4px;
    overflow: hidden;
    color: #FFF;
    padding: 8px 18px 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}